<li>
	{{burger_name}}

	<button class="devoured-btn" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}<img class="burgerpic" src="/assets/img/food-13-512.webp">{{else}}<img class="burgerpic" src="/assets/img/img_545640.png">{{/if}}
	</button>
</li>